.categorys {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.category-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    flex-direction: column;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.category-lists {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.list {
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
}

.list:hover {
    opacity: 1;
    background-color: #f0f0f0;
    cursor: pointer;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 5px;
    margin-top: 20px;
    gap: 30px;
}

.categoryimg {
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.img{
   width: 100%;
   height: 100%;
   overflow: hidden;
   border-radius: 10px;
}
.categoryimg .img img {
    width: 100%;
    border-radius: 10px;
}
.about-category{
    position: absolute;
    left: 0;
    height: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.422);
    width: 100%;
}
.about-category h4, .about-category h5{
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 10px;
    color: white;
}
.about-category h4{
    font-size: 14px;
    padding-bottom: 10px;
}
.about-category h5{
    font-size: 11px;
    padding-bottom: 15px;
}
.status{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(95, 222, 95, 0.377);
    padding: 3px 10px;
    font-size: 3px !important;
    color: white;
    border-radius:20px ;
    z-index: 2;
    border: 1px solid rgb(95, 222, 95);
}
.category-hr{
    margin-top: 100px;
    border-bottom-color: rgba(0, 0, 0, 0.27);
}