.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-container{
    width: 97%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container .bg{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}
.bg img{
    width: 100%;
}