.popular{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(252, 252, 242);
}
.popular-container{
    margin-top: 20px;
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 20px;
}
h5{
}
.sellers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.seller{
    width: 270px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.063);
}
.profile-status{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pr-status{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 5px;
}
.pr-status h3{
    font-size: 7px;
    background-color: rgba(173, 255, 228, 0.577);
    padding: 4px 10px;
    color: rgb(6, 82, 20);
    border-radius: 5px;
    width: fit-content;
}
.pr-status .top-rated{
    background-color: rgb(254, 249, 228);
    color: rgb(99, 99, 3);
}
.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 30%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.125);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
}
.name-desc h3{
    font-weight: bolder;
    font-size: 20px;
}
.name-desc{
    margin-top: 20px;
}
.name-desc h6{
    margin-top: 10px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.534);
}
hr{
    width: 100%;
    border: none;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.081);
    margin-top: 20px;
}
.ratings-category{
    margin-top: 20px;
}
.ratings-category h3{
    font-size: 7px;
    background-color: aliceblue;
    padding: 4px 10px;
    color: blue;
    border-radius: 5px;
    width: fit-content;
}
.services{
    display: flex;
    margin-top: 10px;
    gap: 5px;
}
.services h3{
     background-color: rgba(248, 206, 255, 0.316);
     color: rgb(109, 8, 127);
}
.view-btn{
    margin-top: 10px;
    color: rgb(0, 177, 247);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
.arrow img{
    width: 100%;
}