.whyChoose-us {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 50px;
}

.whyChoose-us .whyChoose-us-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-why-choose {
    text-align: start;
    margin-top: 30px;
    margin-bottom: 20px;
}
.para-why-choose{
    font-size: 17px;
    line-height: 30px;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.792);
}

.reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
}
.reasons .reason{
    height: 230px;
    width: 120px;
    border-radius: 30px;
}
.reasons .task{
    height: 270px;
}
.reason div{
    width: 100%;
    height: 100%;overflow: hidden;
    border-radius: 30px;
}
.reason div img{
    height: 100%;
    border-radius: 30px;
}
.content{
    width: 40%;
    font-weight: 400;
    color: black;
    font-weight: normal;
}